scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/adobe-component-library
        create path (nt:unstructured) /content/dam/adobe-component-library/jcr:content
        set properties on /content/dam/adobe-component-library/jcr:content
        set cq:conf{String} to /conf/adobe-component-library
        set jcr:title{String} to \"Adobe Component Library\"
        end
        "
]
